* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  height: 100vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #0a2fb6;
  text-transform: uppercase;
  margin-top: 33px;
  margin-left: 48px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

main .left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  width: 454px;
  margin: auto;
  margin-top: 12%;
}

form h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #000000;
  margin-bottom: 23px;
}

form h3::first-letter {
  text-transform: uppercase;
}

form h3 span {
  text-transform: capitalize;
}

form p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #b9b8b8;
  margin-bottom: 46px;
}

form label {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-top: 46px;
  margin-bottom: 18px;
}

form label::first-letter {
  text-transform: uppercase;
}

form label span {
  text-transform: capitalize;
}

form input[type="text"] {
  display: block;
  font-weight: 300;
  font-size: 17px;
  width: 100%;
  color: #000000;
  border: 0.6px solid #b1b1b1;
  border-radius: 6px;
  padding: 22px 50px 23px 16px;
  outline: none;
}

.passowrd {
  margin-top: 43px;
}

form input[type="text"]:focus {
  border-bottom: 4px solid #54e28d;
}

#password {
  margin-bottom: 22px;
}

form input[type="text"]::placeholder {
  font-size: 16px;
  color: #8e8e8e;
  text-transform: capitalize;
}

.possword-container {
  position: relative;
}

.possword-container img {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  color: #8e8e8e;
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 48px;
}

.options input {
  width: fit-content;
  background-color: #c4c4c4;
}

.options label {
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 14px;
}

.options a {
  font-size: 16px;
  text-decoration: none;
  margin-left: auto;
  color: #8e8e8e;
}

.options label {
  margin: 0;
  margin-left: 10px;
}

.button {
  width: 100%;
  outline: inherit;
  background-color: #0a2fb6;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  padding: 25px 0;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 0px #263a4326;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.right {
  position: relative;
}

.right .image-container {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  max-height: 890px;
  max-width: 653px;
  height: 82%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.right .image-container img {
  width: 100%;
}

.fill-color {
  background-color: #0a2fb6;
  margin-left: auto;
  position: relative;
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.bubble {
  width: 27px;
  height: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
}

.bubble1 {
  top: 5%;
  right: 18%;
}

.bubble2 {
  top: 7%;
  left: 40%;
  width: 41px;
  height: 39px;
}

.bubble3 {
  bottom: 34%;
  right: 18%;
  width: 66px;
  height: 63px;
}

.bubble4 {
  bottom: 6%;
  left: 18%;
  width: 14px;
  height: 13px;
}

.bubble5 {
  bottom: 3%;
  left: 50%;
}

.bubble6 {
  bottom: 0;
  right: 15%;
  transform: translateY(50%);
  width: 47px;
  height: 48px;
}

@media (max-width: 1200px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
  }
  h1 {
    margin-left: 10px;
  }
}
