* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  height: 100%;
}

.card {
  width: 360px;
  border-radius: 20px;
}

.card1 {
  background-color: #fff;
  height: 367px;
}

.card1 .top_details {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card1 .top_details .left_details {
  display: flex;
  align-items: center;
}

.card1 .top_details .left_details .image_container {
  margin-right: 10px;
}

.card1 .card_image_container,
.card1 .card_image_container img {
  width: 100%;
}

.card1 .top_details h3 {
  font-size: 20px;
  line-height: 23.44px;
  font-weight: 500;
  color: #000;
  margin-bottom: 3px;
}

.card1 .top_details p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  color: #78858f;
}

.card1 .bottom_details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  padding: 20px 25px;
  color: #78858f;
}

/*
 * the card 2nd.
 */

.card2 {
  background-color: #fff;
  height: 420px;
  width: 300px;
  padding: 30px;
}

.card2 .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.card2 .image_container {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  overflow: hidden;
}

.card2 .image_container img {
  width: 172px;
}

.card2 .top_details {
  width: 100%;
  display: flex;
  justify-content: end;
}

.card2 .song_details h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
  color: #000;
}

.card2 .song_details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.5px;
  color: #737373;
}

.card2 .bottom_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
}

.card2 .bottom_details img {
  width: 218px;
}

.card2 .music_navigation {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.card2 .music_navigation .play {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ececec;
  border-radius: 50%;
}

/*
 * the 3rd card .
 */

.card3 {
  height: 385px;
  background-color: #fff;
  overflow: hidden;
}

.card3 .details .image_container,
.card3 .details .image_container img {
  width: 360px;
  height: 214px;
}

.card3 .profile_image_container,
.card3 .profile_image_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card3 .details {
  position: relative;
}

.card3 .profile_image_container {
  border: 15px solid #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60%);
}

.card3 .profile_details {
  text-align: center;
  margin-top: 49px;
}

.card3 .profile_details h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  color: #000;
}

.card3 .profile_details p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  color: #78858f;
}

.card3 .buttons_container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}

.card3 .buttons_container button {
  background: none;
  color: #000;
  border: 2px solid #000;
  padding: 9px 16px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.89px;
}

.card3 .buttons_container .right_button {
  color: white;
  background-color: #000;
}
